/* Navbar Styling */

.navbar {
    text-align: center;
}

.nav-header {
    color: white;
}


/* Default Body Styling */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("free-weather-background-hd-wallpapers-windows-apple-amazing-4k-samsung-wallpapers-free-download-1920x1080-1.jpg");

}

#city-list {
    width: 22rem;
}

#city-date-icon,
#city-name,
#current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center/space-around/space-between;
}

.box {
    /*background-color: papayawhip;*/
    border-radius: 4px;
}


/* Section Header Styling/Font */

h6 {
    font-weight: bold;
}

h4 {
    margin-top: 10px;
}